@keyframes zoomIn {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  45% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  55% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.transition-image {
  opacity: 0;
  position: absolute;
  transition: opacity 0.8s ease-in-out;
}

.transition-image.active {
  opacity: 1;
  animation: zoomIn 5s ease-in-out;
}
body {
  background: deepPink;
  color: pink;
  text-shadow: 0 0 40px pink;
}
.bubbling-heart div {
  z-index: 100;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 25vh) scale(0);
  opacity: 0;
  animation: bubbleUp 5s infinite;
}
.bubbling-heart div .fa {
  transform: translateX(12.5vw) rotate(25deg);
  animation: oscillate 4s ease-in-out infinite;
}
.bubbling-heart div:nth-child(2) {
  animation-delay: 0.4s;
}
.bubbling-heart div:nth-child(2) .fa {
  animation-delay: 1s;
}
.bubbling-heart div:nth-child(3) {
  animation-delay: 0.8s;
}
.bubbling-heart div:nth-child(3) .fa {
  animation-delay: 2s;
}
.bubbling-heart div:nth-child(4) {
  animation-delay: 1.2s;
}
.bubbling-heart div:nth-child(4) .fa {
  animation-delay: 3s;
}
.bubbling-heart div:nth-child(5) {
  animation-delay: 1.6s;
}
.bubbling-heart div:nth-child(5) .fa {
  animation-delay: 4s;
}
.bubbling-heart div:nth-child(6) {
  animation-delay: 2s;
}
.bubbling-heart div:nth-child(6) .fa {
  animation-delay: 5s;
}
.bubbling-heart div:nth-child(7) {
  animation-delay: 2.4s;
}
.bubbling-heart div:nth-child(7) .fa {
  animation-delay: 6s;
}
.bubbling-heart div:nth-child(8) {
  animation-delay: 2.8s;
}
.bubbling-heart div:nth-child(8) .fa {
  animation-delay: 7s;
}
.bubbling-heart div:nth-child(9) {
  animation-delay: 3.2s;
}
.bubbling-heart div:nth-child(9) .fa {
  animation-delay: 8s;
}
.bubbling-heart div:nth-child(10) {
  animation-delay: 3.6s;
}
.bubbling-heart div:nth-child(10) .fa {
  animation-delay: 9s;
}
@keyframes bubbleUp {
  50% {
    opacity: 0.3;
  }
  100% {
    transform: translate(-50%, -10vh) scale(2);
  }
}
@keyframes oscillate {
  50% {
    transform: translateX(-20.5vw) rotate(-25deg);
  }
}
