@keyframes zoomIn {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  45% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  55% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.transition-image {
  opacity: 0;
  position: absolute;
  transition: opacity 0.8s ease-in-out;
}

.transition-image.active {
  opacity: 1;
  animation: zoomIn 5s ease-in-out;
}
